{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('voir_liste_article') }}">Voir la liste des articles</a>
{% endblock %}
